certifi==2025.7.9
charset-normalizer==3.4.2
fake-useragent==2.2.0
idna==3.10
importlib_resources==6.5.2
keyboard==0.13.5
pillow==11.3.0
pystray==0.19.5
requests==2.32.4
six==1.17.0
urllib3==2.5.0
zipp==3.23.0
